---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: 930px;

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;

.badge-orange-outline {
  display: inline-block;
  padding: 0.4em 0.8em;
  border: 2px solid #ff6f00;
  color: #ff6f00;
  font-weight: bold;
  border-radius: 0.5em;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  font-size: 1.1em;
}

.news-scroll-box {
  max-height: 250px;
  overflow-y: auto;
  padding-right: 10px;
  
  table {
    margin-bottom: 0;
    tr {
      td, th {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        line-height: 1.2;
        font-weight: 400 !important;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
  }
}



